html, body {
	margin: 0;
	background-color: dodgerblue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.logo {
	width: 200px;
	border-radius: 0;
}
img {
	width: 150px;
	border-radius: 8px;
	margin: 0 auto;
}
